<div id="body">
    <div id="container">
      <div class="login">
        <form [formGroup]="aloginForm" (ngSubmit)="adminlogin()">
          <h1>Admin Login</h1>
          <hr>
          <p>Login to get more new things</p>
          <label for="email">Email</label>
          <input type="email" formControlName="email" placeholder="example@gmail.com"  >
          <label for="password">Password</label>
          <input type="password" formControlName="password" placeholder="Password"  >
          <button type="submit">Login</button>
      
        </form>
      </div>
    </div>
</div>